/notebooks
.hypothesis/
dist/
.pytest_cache/
.venv/
src/pybaseballstats.egg-info/
htmlcov/
.vscode/
tests/rand_results/
.idea/
*.egg-info/
.coverage
.mypy_cache/
.ruff_cache/
todolist.txt
**/__pycache__/
*.py[cod]
.env
deprecated_or_broken/
dev.md