/notebooks
.hypothesis/
dist/
.pytest_cache/
.venv/
src/pybaseballstats.egg-info/
htmlcov/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
tests/rand_results/
.idea/
*.egg-info/
.coverage
.mypy_cache/
.ruff_cache/
todolist.txt
**/__pycache__/
*.py[cod]
.env
deprecated_or_broken/
*.md
!README.md
