name: Run mypy type checks

on: [push, pull_request]

permissions:
  contents: write

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Set up python environment using uv
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      # Run mypy type checks
      - name: Run mypy type checks
        run: uv run mypy src/pybaseballstats tests/
